th{
    font-size: 14px;
}
td{
    font-size: 14px;
}

.filter{
    border-top: 2px solid #ddd;
}

.heading{
    font-weight: bold;    
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}



.qty{
    margin-top: 10px;
    margin-bottom: 10px;
}

.cost{
    margin-top: 10px;
    margin-bottom: 10px;

}

.highstock{
    margin-left: 10px;
    width: 150px;
}

.lowstock{
    width: 150px;
}

.totalInv, .totalVal{
    border-top: 1px solid #ddd;
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totalInv{
    
   background-color: aliceblue;
   padding: 10px;
}

.totalVal{
    background-color: rgb(240, 238, 238);
    padding: 10px;
}

.totalInv p{
    font-size: 20px;
}

.totalVal p{
    font-size: 20px;
}

/*Clock*/

.myclock{
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: black;
    border-radius: 50%;
    border: 2px solid red;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.myclock span p{
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 4px;
    color: chartreuse;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}

#day{
    font-family: 'Lobster', cursive;
}

.myspin1{
    position: absolute;
    top: 160px;
}

.myspin1 i{
    color: #45B8AC;
    font-size: 24px;
}


.myspin2{
    position: absolute;
    left: 145px;
    top: 272px;
}

.myspin2 i{
    color: white;
    font-size: 24px;
    position: absolute;
    display: flex;
    top: 4px;
    left: 4px;
    align-items: center;
    justify-content: center;
}

.col-main{
    border-radius: 8px;
    height: 100vh;
}

.myImg{
    width: 100%;
    
}

.main{
    position: absolute;
    top: 60px;
    padding-left: 20px;
}

.main p{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 70px;
    font-weight: bolder;
    font-family: Dancing Script, cursive;
    letter-spacing: 4px;
}

.main h2{
    position: relative;
    left: 160px;
    top: -60px;
    color: white;
}


.main_col{
    padding-top: 10px;
    color: #fff;
    background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


.sub-col{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;    
    
}

.color-col{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 30px;

}

.color-col:hover{  
    cursor: pointer; 
}

.myBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    box-shadow: 5px 5px 15px -5px rgba(34,193,195,1);
}

.myBtn:hover{
    background-color: seagreen;
}

.myBtn i{
    font-size: 18px;
    color: #fff;
}

.col-body{
    border-radius: 10px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    border-bottom: 1px solid #333;
    
}

.delete{
    cursor: pointer;
}

.delete:hover{
    color: red;
}

.circle{
    width: 40px;
    height: 40px;
    background-color: springgreen;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 5px;
}

.circle p{
    height: 40px;
    color: steelblue;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactName{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col-mob{
    display: flex;
    font-size: 14px;
    letter-spacing: 2px;
    flex-direction:column;
    width: 60%;
    border-bottom: 1px solid #ddd;
}



.delete{
    background-color: aquamarine;
}

.circle1 p{
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    position: absolute;
    left: 10px;
        
}

#center{
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle2{
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    color: white;
    
}


input[type=text]{
    border: none;
    outline: none;
    padding: 10px;
    background-color: whitesmoke;
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
    width: 100%;
}

.remove{
    cursor: pointer;
}

.remove:hover{
    color: red;
}

.my-input input{
    background-color: white;
    border: 1px solid blue;
}

.myImg{
    width: 100%;
}

.myheader{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    height: 60px;
}

.mybody img{
    height: 150px;
}

.icon i{
    font-size: 100px;
    color: lightblue;
    
}